body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
nav {
    font-family: 'Lora', serif;
    color: #fff;
    width: 100%;
    padding: 15px;
    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 196, 204);
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
/*    float: right;*/
}

li > a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
.responsive img {
    width: 100%;
}
.responsive {
    width: 25%;
    float: left;
}

@media only screen and (max-width: 991px) {
    .responsive {
        width: 33.33%
    }
}

@media only screen and (max-width: 767px) {
    .responsive {
        width: 50%
    }
}

@media only screen and (max-width: 575px) {
    .responsive {
        width: 100%
    }
}